[submodule "vendor/mag"]
	path = vendor/mag
	url = git@github.com:marcusgigandet/mag
[submodule "vendor/toolbox"]
	path = vendor/toolbox
	url = git@github.com:marcusgigandet/toolbox.git
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "vendor/lum"]
	path = vendor/lum
	url = git@github.com:marcusgigandet/lum.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "vendor/metal-cpp"]
	path = vendor/metal-cpp
	url = git@github.com:apple/metal-cpp.git
